[submodule "bugsnag-cocoa"]
	path = bugsnag-cocoa
	url = https://github.com/bugsnag/bugsnag-cocoa
[submodule "bugsnag-android"]
	path = bugsnag-android
	url = https://github.com/bugsnag/bugsnag-android
[submodule "example/Assets/bugsnag-unity-upm"]
	path = example/Assets/bugsnag-unity-upm
	url = https://github.com/bugsnag/bugsnag-unity-upm.git
