build
.DS_store
.gradle
local.properties
temp.unityproject
bugsnag-osx/bugsnag-osx/Bugsnag.framework
xcuserdata
xcodebuild.log
build.log
*.unitypackage
.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
tools/
TestResult.xml
.idea/
bugsnag-cocoa-build/
unity.log
bugsnag-android-unity/.cxx
unity_project
