Gemfile.lock
build
.DS_store
.gradle
local.properties
temp.unityproject
bugsnag-osx/bugsnag-osx/Bugsnag.framework
xcuserdata
xcodebuild.log
build.log
*.unitypackage
.vs
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
tools/
TestResult.xml
.idea/
bugsnag-cocoa-build/
unity.log
unity_import.log
bugsnag-android-unity/.cxx
features/**/*.zip
*.ipa
**/maze_runner/output/
**/maze_runner/SwitchIL2CPPCache/
**/maze_runner/Mazerunner.log
**/maze_output
PackageBranch
example/Assets/Bugsnag
example/Logs
example/UserSettings
example/Assets/Resources
upm-tools/UPMImportProject/Library
upm-tools/UPMImportProject/Assets/Bugsnag
Bugsnag.meta
unity/PackageProject/Assets/Bugsnag
nunit-agent*.log
features/fixtures/maze_runner/Assets/Bugsnag
*.log
features/fixtures/minimalapp/Assets/Bugsnag
features/fixtures/minimalapp/minimal_with_xcode
features/fixtures/minimalapp/minimal_without_xcode
features/fixtures/minimalapp/Packages
