os: osx
osx_image: xcode11.6
before_cache:
- rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
- rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  bundler: true
  directories:
  - "$HOME/.gradle/caches/"
  - "$HOME/.gradle/wrapper/"
  - "$HOME/.android/build-cache"
env:
  global:
  - ANDROID_HOME=/usr/local/share/android-sdk
  - ANDROID_NDK_HOME=/usr/local/share/android-ndk
  - TERM=dumb
  - PATH=$HOME/Library/Python/2.7/bin:$PATH
  - HOMEBREW_NO_INSTALL_CLEANUP=1
  - HOMEBREW_NO_AUTO_UPDATE=1
stages:
- name: test
  if: tag IS blank
- name: deploy
  if: tag IS present
before_install:
- bundle install
- brew update > /dev/null || true
- brew tap homebrew/cask
- brew tap AdoptOpenJDK/openjdk
- pip install --user awscli
- mkdir -p $TRAVIS_BUILD_DIR/build_artifacts

install:
- brew cask uninstall java > /dev/null
- brew cask install adoptopenjdk8 > /dev/null
- brew install ninja > /dev/null
- brew cask install https://raw.githubusercontent.com/caskroom/homebrew-cask/59a4123d2dc252d17db3fc9169889c96b23cda15/Casks/mono-mdk.rb > /dev/null
- brew cask install android-sdk > /dev/null
- brew cask install bugsnag/unity/$UNITY_VERSION > /dev/null
- export PATH="$PATH:/Library/Frameworks/Mono.framework/Versions/Current/Commands"
- sdkmanager --list
- yes | sdkmanager "platforms;android-27" > /dev/null
- yes | sdkmanager --licenses > /dev/null
- curl --silent -o ndk.zip https://dl.google.com/android/repository/android-ndk-r16b-darwin-x86_64.zip
- unzip -qq ndk.zip > /dev/null
- mv android-ndk-r16b $ANDROID_NDK_HOME
- rm ndk.zip
- bundle exec rake travis:export_plugin
- cp Bugsnag.unitypackage $TRAVIS_BUILD_DIR/build_artifacts
- cp Bugsnag-with-android-64bit.unitypackage $TRAVIS_BUILD_DIR/build_artifacts

script:
- bundle exec rake travis:maze_runner
jobs:
  include:
  - stage: test
    env:
    - UNITY_VERSION=unity-5-6-7f1
  - stage: test
    env:
    - UNITY_VERSION=unity-2017-4-32f1
  - stage: test
    env:
    - UNITY_VERSION=unity-2018-4-8f1
  - stage: deploy
    script: skip
    env:
    - UNITY_VERSION=unity-2017-4-32f1
    deploy:
      provider: releases
      api_key:
        secure: 1TJ75ixrnryedpCBA/a3mnaHoVO6zK/vMEzjJ2mkLa/EIRVnH3MEeifetXqIf05vANF7TnqcUF4/gAt/NLNZc2Sa3NktPsXQ4lyWI4BhJuCR+BGGbbB+tlU6VAXunCljIcu3WC5OqojtYVfNqwgCfnwqg8HRlfM8XSIH0qFaYH6UG4S6iD7gkgolAouJTpZsYs0sRmxAyjLq5f6o1ZQtwjTDC6Lm3SmAVPJ0oGDFFFqVwMfTVagq1hAkja1S5YoxNrO8XU9iKW+Rd8JB4CL0CGAQ/qRnyzU/ABQnYhb4lu0eBqMo9Up7ENAarVOwkuWlbHtx7TsiOvI1+BQReqfg73D/TSMra4aTPeEaq8DGYoQc7dsRy4hS/XUKfkVrGe6UeIdcgiZvENbTcmfzsOSsbdTqJhB6zVcSLus1C5n8ZRFIZ81JS65P7vQU6VMyQTTG19xUoU3DozRPdOjnCbOeBmMWFa/ffl5N1N/KQq+CEPpHdtopcDv6iSKTShu9tm5uUoM7pj8vqI7FM9Aj3NqBaJtgJqZAtD83LbKCEBfifIAgz1uDLRoNxnbx1ua9n54ifPOiGX1mQ/LWgBhAUsyLUjaor8I1j1pVoYcpf4f9HNu/VJsUrBrK5uDwJNo/J3vDhfniYuBhsyFcsZkOtddwOdUOM6BGAOXWwJM2G3zsmKI=
      file:
      - build_artifacts/Bugsnag.unitypackage
      - build_artifacts/Bugsnag-with-android-64bit.unitypackage
      draft: true
      skip_cleanup: true
      on:
        tags: true
        repo: bugsnag/bugsnag-unity
