version: '3.6'
services:

  maze-runner:
    image: 855461928731.dkr.ecr.us-west-1.amazonaws.com/maze-runner-releases:latest-v7-cli
    environment:
      DEBUG:
      BUILDKITE:
      BUILDKITE_PIPELINE_NAME:
      BROWSER_STACK_USERNAME:
      BROWSER_STACK_ACCESS_KEY:
      UNITY_VERSION:
    volumes:
      - ./test:/app/test
      - ./features/:/app/features
      - ./maze_output:/app/maze_output
